@inherits LayoutComponentBase

<MudThemeProvider />
<MudPopoverProvider />
<MudDialogProvider />
<MudSnackbarProvider />

<MudLayout>
    <MudAppBar Elevation="1" Color="Color.Transparent">
        <MudIconButton Icon="@Icons.Material.Filled.Menu" Color="Color.Inherit" Edge="Edge.Start" OnClick="@((e) => DrawerToggle())" />
        @* <MudImage Src="favicon.ico" Class="mx-3"></MudImage> *@
        <MudText Typo="Typo.h5" Class="ml-3">Application</MudText>
        <MudSpacer />
        @* <MudIconButton Icon="@(DarkLightModeButtonIcon)" Color="Color.Inherit" OnClick="@DarkModeToggle" /> *@
        <MudMenu  Icon="@Icons.Material.Filled.AccountCircle" Style="font-weight: bold" Color="Color.Inherit" Edge="Edge.End" >
            <MudMenuItem>Trang cá nhân</MudMenuItem>
            <MudMenuItem>Đổi nhà máy</MudMenuItem>
            <MudMenuItem>Đăng xuất</MudMenuItem>
        </MudMenu>
    </MudAppBar>
    <MudDrawer id="nav-drawer" @bind-Open="_drawerOpen" ClipMode="DrawerClipMode.Always" Elevation="2">
        <NavMenu />
    </MudDrawer>
    <MudMainContent Class="d-flex flex-column" Style="height:100vh">
        <MudContainer MaxWidth="MaxWidth.False" Style="overflow:auto" Class="pt-5 px-10 body-wrapper flex-grow-1">
             <MudPaper Class="pa-5">
                @Body
            </MudPaper>
        </MudContainer>
    </MudMainContent>
</MudLayout>


<div id="blazor-error-ui" data-nosnippet>
    An unhandled error has occurred.
    <a href="." class="reload">Reload</a>
    <span class="dismiss">🗙</span>
</div>

@code {
    private bool _drawerOpen = true;

    protected override void OnInitialized()
    {
        base.OnInitialized();
    }

    private void DrawerToggle()
    {
        _drawerOpen = !_drawerOpen;
    }
}


